.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  padding: 20px;
  color: white;
}

h2 {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #479180;
}

form {
  padding: 20px;
  text-align: left;
  background-color: #a6eddd;
}

.playlist, .songs {
  background-color: #a6eddd;
  padding: 20px;
  margin: 20px 0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  text-align: left;
}

.submit {
  margin-top: 20px;
  background-color: #37bd44;
  border: none;
  color: white;
  padding: 15px 100px;
  transition-duration: 0.4s;
}

.submit:hover {
  background-color: white; 
  color: #37bd44; 
  border: 2px solid #37bd44;
}

.removeButton {
  background-color: #d9484f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.removeButton:hover {
  background-color: white; 
  color: #d9484f; 
  border: 2px solid #d9484f;
}

a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}